body{
  background-image:url(background.jpg);
  padding-top:85px
}
    a {
      color: orange;
      font-size: 20px
    }

    h1 {
      font-family: VeganStylePersonalUse-5Y58;
      font-weight: bold
    }
    article {
      margin-top: 10px;
      margin-bottom: 20px;
      background-image: url(pizarra.jpg);
      padding: 10px;
      font-weight: bold;
      color: white
    }
    p {
      font-size: 25px;
    }